{% extends "base.html" %}

{% block title %}Edit Product{% endblock %}

{% block content %}
<div class="container mx-auto mt-8">
	<h1 class="text-2xl font-bold mb-4">Edit Product</h1>
	<div class="flex flex-col">
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <div class="flex flex-col">
            <label for="{{ form.namabarang.id_for_label }}" class="mb-2 text-gray-700 font-semibold">Nama Barang</label>
            {{ form.namabarang }}
        </div>
        <div class="flex flex-col">
            <label for="{{ form.deskripsi.id_for_label }}" class="mb-2 text-gray-700 font-semibold">Deskripsi</label>
            {{ form.deskripsi }}
        </div>
        <div class="flex flex-col">
            <label for="{{ form.hargabeli.id_for_label }}" class="mb-2 text-gray-700 font-semibold">Harga Beli</label>
            {{ form.hargabeli }}
        </div>
        <div class="flex flex-col">
            <label for="{{ form.hargajual.id_for_label }}" class="mb-2 text-gray-700 font-semibold">Harga Jual</label>
            {{ form.hargajual }}
        </div>
        <div class="flex flex-col">
            <label for="{{ form.stok.id_for_label }}" class="mb-2 text-gray-700 font-semibold">Stok</label>
            {{ form.stok }}
        </div>
        <div class="flex flex-col">
            <label for="{{ form.info.id_for_label }}" class="mb-2 text-gray-700 font-semibold">Info</label>
            {{ form.info }}
        </div>
		<div class="flex flex-col">
			<label class="mb-4"></label>
		</div>
        <div class="flex flex-col">
            <a href="{% url 'product' %}" value="Back" class="text-center mb-4 bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700">Back</a>
			<button type="submit" value="Save" class="bg-green-500 text-white py-2 px-4 rounded hover:bg-green-700">Save</button>
        </div>
    </form>
</div>
{% endblock %}
